<h3>Are you sure you want to delete this trade?</h3>
<form action="/trades/<%=@trade.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trade">
</form>
