<h1>Cryptocurrency Trades</h1>

<form action="/trades" method="POST">
  <label>Name/Symbol: </label><input type="text" name="coin">
  <label>Quantity: </label><input type="text" name="quantity">
  <label>Fiat Symbol: </label><input type="text" name="fiat_symbol">
  <label>Buy Value (Fiat): </label><input type="text" name="buy_value_fiat">
  <label>Sell Value (Fiat): </label><input type="text" name="sell_value_fiat">
  <label>Public Log: </label>
  <label>true</label><input type="radio" name="viewable" value="true">
  <label>false</label><input type="radio" name="viewable" value="false">
  <label>Date: </label><input type="date" name="date">
  <label>Notes: </label><input type="text" name="notes">
  <input type="submit" value="Log Trade">
</form>
